<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.webServer>
		<handlers>
			<add name="AdaptiveImageHandlerGif" path="*.gif" verb="GET" type="AdaptiveImages.AdaptiveImageHandler"  />
			<add name="AdaptiveImageHandlerJpg" path="*.jpg" verb="GET" type="AdaptiveImages.AdaptiveImageHandler"  />
			<add name="AdaptiveImageHandlerPng" path="*.png" verb="GET" type="AdaptiveImages.AdaptiveImageHandler"  />
		</handlers>
	</system.webServer>
</configuration>