<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--the resolution break-points to use (screen widths, in pixels)-->
		<add key="AdaptiveImages.ResolutionBreakpoints" value="1382, 992, 768, 480"/>
		<!--where to store the generated re-sized images. This folder must be writable-->
		<add key="AdaptiveImages.CachePath" value="ai-cache"/>
		<!--the quality of any generated JPGs on a scale of 0 to 100-->
		<add key="AdaptiveImages.JpegQuality" value="80"/>
		<!--check that the responsive image isn't stale (ensures updated source images are re-cached)-->
		<add key="AdaptiveImages.WatchCache" value="true"/>
		<!--How long the BROWSER cache should last in seconds. (604800 - 7 days by default)-->
		<add key="AdaptiveImages.BrowserCache" value="604800"/>
		<!-- If there's no cookie false sends the largest var resolutions version (TRUE sends smallest)-->
		<add key="AdaptiveImages.MobileFirst" value="true"/>
		<!--the name of the cookie containing the resolution value-->
		<add key="AdaptiveImages.CookieName" value="resolution"/>
		<!-- If the resolution is larger than the largest break-point, should we sent the raw image?-->
		<add key="AdaptiveImages.DefaultRaw" value="false"/>
		<!-- a regex filter to determine what images to adapt and which to ignore. Note that backslashes 
		do NOT to be escaped in the .config file -->
		<add key="AdaptiveImages.RegexFilter" value=".*"/>
		<!-- Should we use the regex filter? If false, processes all images. -->
		<add key="AdaptiveImages.UseFilter" value="false"/>
	</appSettings>
	<system.webServer>
		<handlers>
			<add name="AdaptiveImageHandlerGif" path="*.gif" verb="GET" type="AdaptiveImages.AdaptiveImageHandler"  />
			<add name="AdaptiveImageHandlerJpg" path="*.jpg" verb="GET" type="AdaptiveImages.AdaptiveImageHandler"  />
			<add name="AdaptiveImageHandlerPng" path="*.png" verb="GET" type="AdaptiveImages.AdaptiveImageHandler"  />
		</handlers>
	</system.webServer>
</configuration>